@using WebApplication2.Models
@model WebApplication2.Models.Coffee

@{
    ViewBag.Title = "Add Coffee";
    Layout = "_CoffeeLayout";
}

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

<h1 class="mb-4">Add a new type of Coffee</h1>

@using (Html.BeginForm("CreateCoffeeForm", "Coffee", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card p-4 shadow-sm">
        <h4 class="mb-3">Create Coffee</h4>

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Name, new { @class = "form-label fw-bold" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter coffee name" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Description, new { @class = "form-label fw-bold" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "3", placeholder = "Enter a short description" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.RoastType, new { @class = "form-label fw-bold" })
            @Html.DropDownListFor(model => model.RoastType,
                new SelectList(new[] { "Light", "Medium", "Dark" }),
                "Select Roast Type",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RoastType, "", new { @class = "text-danger" })
        </div>

        <div class="d-flex gap-2 mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Index", "Coffee")" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
}

<div class="mt-4">
    <a href="@Url.Action("Index", "Coffee")">Back to List</a>
</div>





@* *@
@* @using WebApplication2.Models *@
@* @model WebApplication2.Models.Coffee *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_CoffeeLayout"; *@
@* } *@
@* *@
@* <link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" /> *@
@* *@
@* <h1 style="margin-bottom: 10px"> Add Types of Coffee</h1> *@
@* *@
@* @using (Html.BeginForm("CreateCoffeeForm", "Coffee", FormMethod.Post)) *@
@* { *@
@*     @Html.AntiForgeryToken() *@
@* *@
@* *@
@*     <div> *@
@* *@
@*         <h4>Create  Coffee</h4> *@
@* *@
@*         @Html.ValidationSummary(true) *@
@*          *@
@*         $1$ @Html.HiddenFor(model => model.Id) #1# *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.CoffeeId) *@
@*             @Html.EditorFor(model => model.CoffeeId) *@
@*             @Html.ValidationMessageFor(model => model.CoffeeId) *@
@*         </div> *@
@* *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.Name) *@
@*             @Html.EditorFor(model => model.Name) *@
@*             @Html.ValidationMessageFor(model => model.Name) *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.Description) *@
@*             @Html.EditorFor(model => model.Description) *@
@*             @Html.ValidationMessageFor(model => model.Description) *@
@*         </div> *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.RoastType) *@
@*             @Html.EditorFor(model => model.RoastType) *@
@*             @Html.ValidationMessageFor(model => model.RoastType) *@
@*         </div> *@
@*          *@
@*         <button type="submit" class="btn btn-primary">Save</button> *@
@* *@
@*     </div> *@
@* } *@
@* *@
@* <div> *@
@*     end *@
@* </div> *@


