@model WebApplication2.Models.Coffee

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}


<form asp-action="DeleteConfirm" asp-controller="Coffee" method="post">
    <div class="form-group">
        <label asp-for="Id">Id:</label>
        <input type="number" name="Id" placeholder="@Model.Id" class="form-control" required="required" disabled="disabled"/>
    </div>
    <button type="submit" class="btn btn-primary"> Find Coffee Id </button>
</form>

@using (Html.BeginForm("DeleteConfirm", "Coffee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        
        <h3>Delete Coffee</h3>

        <div>
            <h4>Are you sure?</h4>
        </div>
        <div>
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Id)
                @* @Html.EditorFor(model => model.Id) *@
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>
    </div>
    <button type="submit">Delete</button>
}


