@model WebApplication2.Models.Coffee

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    
    <div>
        
        <h3>Delete Coffee</h3>

        <div>
            <h4>Are you sure?</h4>

            @if (TempData["ErrorMessage"] != null)
            {
                <div >
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>
        <div>
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Id)
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>
    </div>
    <button type="submit">Delete</button>
}


