@using WebApplication2.Models

@model WebApplication2.Models.Coffee

@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

<h1 style="margin-bottom: 10px"> Coffee Home </h1>

@{
    Model.
}
<div>
    <table class="detailTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Temp</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name)</td>
                    <td>@data.Category)</td>
                    <td>@data.Description)</td>
                    <td>@data.Temp)</td>
                    <td>@data.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    end
</div>



