
@model IEnumerable<WebApplication2.Models.Coffee>

<link href="~/css/UserStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "title";
    Layout = "_BlankLayout";
}

<h1 style="margin-bottom: 10px"> Coffee Home </h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Coffee Name</th>
                <th>Description</th>
                <th>Roast</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var coffee in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(coffeeList => coffee.CoffeeId)
                        </td>
                        <td>
                            @Html.DisplayFor(coffeeList => coffee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(coffeeList => coffee.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(coffeeList => coffee.RoastType) 
                        </td>
                 
                        <td>
                            <a asp-action="Edit" asp-route-id="@coffee.CoffeeId">Edit</a>
                            <a asp-action="Delete" asp-route-id="@coffee.CoffeeId">Delete</a>
                        </td>
                    </tr>    
                }
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Coffee" asp-action="Create" class="fw-bold" style="padding: 5px"> Create </a>
    <a asp-controller="ManagerBackend" asp-action="Index" class="fw-bold" style="padding: 5px"> Backend Hub </a>
</div>

