@model WebApplication2.Models.OrderDetail

<link href="~/css/OrderDetailStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Delete Order Detail";
    Layout = "_CoffeeLayout";
}

@using (Html.BeginForm("DeleteConfirm", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <h3>Delete Order Detail</h3>

        <div>
            <p>@Model.OrderDetailId, </p>
            <div>
                <p>Customer: @Model.OrderId </p>
                <p>Date: @Model.MenuItemId </p>
            </div>
            
            @Html.HiddenFor(model => model.OrderId)
        </div>

        <div>
            <button type="submit" class="btn btn-danger">Yes</button>
            @Html.ActionLink("No", "Index", "OrderDetail",  new {@class="btn btn-secondary"})
        </div>
    </div>
}