@model WebApplication2.Models.OrderDetail


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<h1> Customer Detail Page </h1>

<div>
    <h4> @Model.OrderDetailId</h4>

    <div>
        <span>Details:</span>
        <ul>@Model.OrderId</ul>
        <ul>@Model.MenuItemId </ul>
        <ul>@Model.Quantity </ul>
        <ul>@Model.Price </ul>
    </div>

</div>


