@model IEnumerable<WebApplication2.Models.OrderDetail>

<link href="~/css/OrderDetailStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Order Detail";
    Layout = "_CoffeeLayout";
}


<h1 style="margin-bottom: 10px"> Order Detail Home </h1>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>OrderDetailID</th>
            <th>OrderID</th>
            <th>MenuItemId</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var orderDetail in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(orderDetailList => orderDetail.OrderDetailId)
                    </td>
                    <td>
                        @Html.DisplayFor(orderDetailList => orderDetail.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(orderDetailList => orderDetail.MenuItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(orderDetailList => orderDetail.Quantity)
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@orderDetail.OrderId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@orderDetail.OrderId">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>


<div>
    <a asp-controller="OrderDetail" asp-action="Create" class="fw-bold" style="padding: 5px"> Create </a>
    <a asp-controller="ManagerBackend" asp-action="Index" class="fw-bold" style="padding: 5px"> Backend Hub </a>
</div>

