@model WebApplication2.Models.Order

@{
    ViewBag.Title = "Order";
    Layout = "_CoffeeLayout";
}

<link href="~/css/OrderStyle.css" rel="stylesheet" type="text/css" />


<h1 class="mb-4">Add a new Order</h1>

@using (Html.BeginForm("CreateOrderForm", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card p-4 shadow-sm">
        <h4 class="mb-3">Create an Order</h4>

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.CustomerId, new { @class = "form-label fw-bold" })
            @Html.TextBoxFor(model => model.CustomerId, new { @class = "form-control", placeholder = "Enter customer first name" })
            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
        </div>
        
        @* on model creation it gets the date tiem now *@
        
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Price, new { @class = "form-label fw-bold" })
            @Html.TextAreaFor(model => model.Price, new { @class = "form-control", rows = "3", placeholder = "Enter customer last name" })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>

        <div class="d-flex gap-2 mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Index", "Coffee")" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
}

<div>
    end
</div>