@model WebApplication2.Models.Order

<link href="~/css/OrderStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Delete Order";
    Layout = "_CoffeeLayout";
}

@using (Html.BeginForm("DeleteConfirm", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <h3>Delete Order</h3>

        <div>
            <p>@Model.OrderId, </p>
            <div>
                <p>Customer: @Model.CustomerId </p>
                <p>Date: @Model.OrderDate </p>
            </div>
            
            @Html.HiddenFor(model => model.OrderId)
        </div>

        <div>
            <button type="submit" class="btn btn-danger">Yes</button>
            @Html.ActionLink("No", "Index", "Order",  new {@class="btn btn-secondary"})
        </div>
    </div>
}