@model IEnumerable<WebApplication2.Models.Order>

<link href="~/css/OrderStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Order Index";
    Layout = "_BlankLayout";
}

<h1 style="margin-bottom: 10px"> Order Index Page </h1>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Order Id</th>
            <th>Customer Id</th>
            <th>Order Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var order in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(orderList => order.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(orderList => order.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(orderList => order.OrderDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@order.OrderId">Edit</a>
                        @* <a asp-action="Details" asp-route-id="@menu.Id">Details</a> *@
                        <a asp-action="Delete" asp-route-id="@order.OrderId">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>


<div>
    <a asp-controller="Order" asp-action="Create" class="fw-bold" style="padding: 5px"> Create </a>
    <a asp-controller="ManagerBackend" asp-action="Index" class="fw-bold" style="padding: 5px"> Backend Hub </a>
</div>
