@model IEnumerable<WebApplication2.Models.Sale>

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}


<h1 style="margin-bottom: 10px"> Sale Home </h1>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>CustomerId</th>
            <th>Quantity</th>
            <th>OrderDate</th>
            <th>OrderDetail</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var sales in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(saleList => sales.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(saleList => sales.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(saleList => sales.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(saleList => sales.OrderDateTime) 
                    </td>
                    @* <td> *@
                    @*     @Html.DisplayFor(saleList => sales.OrderDetails) *@
                    @* </td> *@
                    <td>
                        <a asp-action="Edit" asp-route-id="@sales.Id">Edit</a>
                        @* <a asp-action="Details" asp-route-id="@customer.Id">Details</a> *@
                        <a asp-action="Delete" asp-route-id="@sales.Id">Delete</a>
                    </td>
                </tr>    
            }
        }
        </tbody>
    </table>
</div>

