@model WebApplication2.Models.Customer

@{
    ViewBag.Title = "title";
    Layout = "_CoffeeLayout";
}

<h2>create</h2>

@using (Html.BeginForm("CreateCustomerForm", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div>
        
        <h4>Create a customer</h4>
        
        @Html.ValidationSummary(true)
        @* @Html.HiddenFor(model => model.Id) *@
        <div class="form-group">
            @Html.LabelFor(model => model.Id)
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.FistName)
            @Html.EditorFor(model => model.FistName)
            @Html.ValidationMessageFor(model => model.FistName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        
    </div>
}

<div>
    end
</div>