
@model WebApplication2.Models.Customer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>create</h2>

<form asp-action="CreateCustomerForm" asp-controller="Customer">
    <label>Id</label>
    <input class="form-control" type="number" asp-action="Id"/>
    <label class="mt-2">FistName</label>
    <input class="form-control" type="text" asp-action="FistName"/>
    <label class="mt-2">LastName</label>
    <input class="form-control" type="text" asp-action="LastName"/>
    <label class="mt-2">Email</label>
    <input class="form-control" type="text" asp-action="Email"/>
    <label class="mt-2">Phone</label>    
    <input class="form-control" type="text" asp-action="Phone"/>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        
        <h4>Create a customer</h4>
        
        @Html.ValidationSummary(true)
        @* @Html.HiddenFor(model => model.Id) *@
        <div class="form-group">
            @Html.LabelFor(model => model.Id)
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.FistName)
            @Html.EditorFor(model => model.FistName)
            @Html.ValidationMessageFor(model => model.FistName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
     <button type="submit" class="btn btn-primary">Save</button>
        
    </div>
}

<div>
    end
</div>