@using WebApplication2.Models

@model List<WebApplication2.Models.Customer>

<link href="~/css/UserStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "title";
    Layout = "_UserLayout";
}

<h1 style="margin-bottom: 10px"> Customer Home </h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>lastName</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var customer in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(customerList => customer.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(customerList => customer.FistName)
                        </td>
                        <td>
                            @Html.DisplayFor(customerList => customer.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(customerList => customer.Email) 
                        </td>
                        <td>
                            @Html.DisplayFor(customerList => customer.Phone)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@customer.Id">Edit</a>
                        </td>
                        @* <td> *@
                        @*     <a asp-action="Details" asp-route-id="@customer.Id">Details</a> *@
                        @* </td> *@
                        <td>
                            <a asp-action="Delete" asp-route-id="@customer.Id">Delete</a>
                        </td>
                    </tr>    
                }
            }
        </tbody>
    </table>
</div>

