@model WebApplication2.Models.Customer

<link href="~/css/CoffeeStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Delete Customer";
    Layout = "_CoffeeLayout";
}

@using (Html.BeginForm("DeleteConfirm", "Coffee", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <h3>Delete Customer</h3>

        <div>
            <p>@Model.FirstName, @Model.LastName</p>
            <p>Id: @Model.CustomerId </p>
            @Html.HiddenFor(model => model.CustomerId)
        </div>

        <div>
            <button type="submit" class="btn btn-danger">Yes</button>
            @Html.ActionLink("No", "Index", "Coffee",  new {@class="btn btn-secondary"})
        </div>
    </div>
}