@model IEnumerable<WebApplication2.Models.Customer>

<link href="~/css/UserStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "title";
    Layout = "_BlankLayout";
}

<h1 style="margin-bottom: 10px"> Customer Home </h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>lastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var customer in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(customerList => customer.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(customerList => customer.FistName)
                        </td>
                        <td>
                            @Html.DisplayFor(customerList => customer.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(customerList => customer.Email) 
                        </td>
                        <td>
                            @Html.DisplayFor(customerList => customer.Phone)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@customer.CustomerId">Edit</a>
                            @* <a asp-action="Details" asp-route-id="@customer.Id">Details</a> *@
                            <a asp-action="Delete" asp-route-id="@customer.CustomerId">Delete</a>
                        </td>
                    </tr>    
                }
            }
        </tbody>
    </table>
</div>

