@model IEnumerable<WebApplication2.Models.MenuItem>

<link href="~/css/menuStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "title";
    Layout = "_BlankLayout";
}

<h1 style="margin-bottom: 10px"> Menu Index Page </h1>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Coffee Id</th>
            <th>Type of Drink</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var menu in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(menuList => menu.MenuItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(menuList => menu.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(menuList => menu.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(menuList => menu.CoffeeId) 
                    </td>
                    <td>
                        @Html.DisplayFor(menuList => menu.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(menuList => menu.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@menu.MenuItemId">Edit</a>
                        @* <a asp-action="Details" asp-route-id="@menu.Id">Details</a> *@
                        <a asp-action="Delete" asp-route-id="@menu.MenuItemId">Delete</a>
                    </td>
                </tr>    
            }
        }
        </tbody>
    </table>
</div>


<div>
    <a asp-controller="MenuItem" asp-action="Create" class="fw-bold" style="padding: 5px"> Create </a>
    <a asp-controller="ManagerBackend" asp-action="Index" class="fw-bold" style="padding: 5px"> Backend Hub </a>
</div>
